<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="enable_rviz" default="true"/>

    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz"
        name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/sloam.rviz"/>
    </group>

    <node pkg="sloam" type="sloam_node" name="sloam" output="screen">
    </node>
</launch>
